{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Cloud for you</title>
    <script language="javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="../../static/css/login_style.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
    <section class="login_section" id="section1">
        <div class="login-reg-panel">
            <div class="login-info-box">
                <h2>Have an account?</h2>
                <p>Then push the Login button!</p>
                <label id="label-register" for="log-reg-show">Login</label>
                <input type="radio" name="active-log-panel" id="log-reg-show" checked="checked">
            </div>
            <div class="register-info-box">
                <h2>Don't have an account?</h2>
                <p>Then push the Register button!</p>
                <label id="label-login" for="log-login-show">Register</label>
                <input type="radio" name="active-log-panel" id="log-login-show">
            </div>
            <div class="white-panel">
                <div class="login-show">
                    <form action="{% url 'signin'%}" method="post">
                    {% csrf_token %}
                        <h2>LOGIN</h2>
                            <input type="text" name="username" placeholder="ID">
                            <input type="password" name="password" placeholder="Password">
                            <input type="submit" value="Login">
                        <!--<a href="">Forgot password?</a>-->
                    </form>
                    <h2>Sign in with Gooogle Account!</h2>
                    <p>Then push the Google login button!</p>
                    <a style="color:green; opacity:0.5;font-size:20px;" href="{% url 'social:begin' 'google-plus' %}"><i class="fab fa-google"></i>Google Login</a>
                </div>
                <div class="register-show">
                    <form action="{% url 'signup' %}" method="post">
                        {% csrf_token %}
                        <!--method를 post로 놓아서 보안성 높임-->
                        <h2>REGISTER</h2>
                            <input type="text" name="username" placeholder="ID">
                            <input type="text" name="email" placeholder="Email">
                            <input type="password" maxlength="12" name="password1" placeholder="Password">
                            <!--12자리 미만의 영문 대소문자, 숫자 입력-->
                            <input type="password" maxlength="12" name="password2" placeholder="Confirm Password">
                            <input type="submit" value="Register">
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="intro">
        <div class="intro_inner">
            <div class="content_intro">
                <h1 class="content_intro_inner" data-aos="fade-left">당신만을 위한 클라우딩 서비스</h1>
                <p class="lead" data-aos="fade-left">언제 어디서나 당신만의 저장 장치를 가져보세요</p>
            </div>
        </div>
    </section>
    <section class="second_int">
        <div class="second_int_inn">
            <div class="content_second_int">
                <h1 class="content_second_int_inn" data-aos="fade-right">당신만을 위한 클라우딩 서비스</h1>
                <p class="second_lead" data-aos="fade-right">언제 어디서나 당신만의 저장 장치를 가져보세요</p>
            </div>
        </div>
    </section>
    <section class="third_int">
        <div class="third_int_inn">
            <div class="content_third_int">
                <h1 class="content_third_int_inn" data-aos="fade-right">당신만을 위한 클라우딩 서비스</h1>
                <p class="third_lead" data-aos="fade-right">언제 어디서나 당신만의 저장 장치를 가져보세요</p>
            </div>
        </div>
    </section>
    <section class="fourth_int">
        <div class="fourth_int_inn">
            <div class="content_fourth_int">
                <h1 class="content_fourth_int_inn" data-aos="fade-up">지금 시작해볼까요?</h1>
                <input type="button" onclick="fnMove('1')" value="Let's start!" class="fourth_lead" data-aos="fade-up">
            </div>
        </div>
    </section>
    <!--아래 href="#" #부분에 원하는 페이지 링크 넣기-->
    <section class="fifth_int">
        <div class="footer-main">
            <div class="footer-inner">
                <div class="footer-left">
                    <div class="footer-box">
                        <h6>PRODUCTS</h6>
                        <ul>
                            <li><b href="#">Products One</b></li>
                            <li><b href="#">Products Two</b></li>
                            <li><b href="#">Products Three</b></li>
                            <li><b href="#">Products Four</b></li>
                        </ul>
                    </div>
                    <div class="footer-box">
                        <h6>HOW TO USE</h6>
                        <ul>
                            <li><b href="#">Products One</b></li>
                            <li><b href="#">Products Two</b></li>
                            <li><b href="#">Products Three</b></li>
                            <li><b href="#">Products Four</b></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-left">
                    <div class="footer-box">
                        <h6>ABOUT US</h6>
                        <ul>
                            <li><b href="#">Products One</b></li>
                            <li><b href="#">Products Two</b></li>
                            <li><b href="#">Products Three</b></li>
                            <li><b href="#">Products Four</b></li>
                        </ul>
                    </div>
                    <div class="footer-box">
                        <h6>INFORMATION</h6>
                        <ul>
                            <li><b href="#">Products One</b></li>
                            <li><b href="#">Products Two</b></li>
                            <li><b href="#">Products Three</b></li>
                            <li><b href="#">Products Four</b></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-left">
                    <div class="footer-box">
                        <h6>FOLLOW US</h6>
                        <ul>
                            <li><b href="#"><i class="fa fa-google-plus"></i>Google+</b></li>
                            <li><b href="#"><i class="fa fa-twitter"></i>Twitter</b></li>
                            <li><b href="#"><i class="fa fa-facebook"></i>Facebook</b></li>
                            <li><b href="#"><i class="fa fa-linkedin"></i>Linkedin</b></li>
                            <li><b href="#"><i class="fa fa-rss"></i>Rss</b></li>
                        </ul>
                    </div>
                    <div class="footer-box">
                        <h6>SHARE</h6>
                        <ul>
                            <li><b href="#">Products One</b></li>
                            <li><b href="#">Products Two</b></li>
                            <li><b href="#">Products Three</b></li>
                            <li><b href="#">Products Four</b></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-right">
                    <div class="footer-box">
                        <h5>CONTACT</h5>
                        <p>Telephone: +82 10-6428-5828</p>
                        <p>E-mail: ljyjh0118@gmail.com</p>
                    </div>
                    <div class="footer-box">
                        <h5>LOCATION</h5>
                        <p>Address: 1-0, Giheung-gu, Yongin-si Gyeonggi-do,,, Republic of Korea</p>
                        <p>Phone: 031-201-2114</p>
                    </div>
                </div>
                <div class="clr"></div>
            </div>
        </div>
    </section>
    <script>
    /*
		로그인 애니메이션 구현 (양옆이동)
		 */
    $(document).ready(function() {
        $('.login-info-box').fadeOut();
        $('.login-show').addClass('show-log-panel');
    });


    $('.login-reg-panel input[type="radio"]').on('change', function() {
        if ($('#log-login-show').is(':checked')) {
            $('.register-info-box').fadeOut();
            $('.login-info-box').fadeIn();

            $('.white-panel').addClass('right-log');
            $('.register-show').addClass('show-log-panel');
            $('.login-show').removeClass('show-log-panel');

        } else if ($('#log-reg-show').is(':checked')) {
            $('.register-info-box').fadeIn();
            $('.login-info-box').fadeOut();

            $('.white-panel').removeClass('right-log');

            $('.login-show').addClass('show-log-panel');
            $('.register-show').removeClass('show-log-panel');
        }
    });
        function fnMove(seq){
            var offset = $("#section" + seq).offset();
            $('html, body').animate({scrollTop : offset.top}, 600);

}
    </script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
    AOS.init({ duration: 1200, });
    </script>
<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
</body>

</html>