{% extends 'web/baseline.html' %}
{% load volume_fileter %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.7/sorting/file-size.js"></script>
<style>
@import url('https://fonts.googleapis.com/css?family=Mukta');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

    #dropFileForm{
      margin:16px;
      text-align: center;
      border-radius:8px;
      overflow:hidden;
      transition:5s;
      width:70%;
            opacity:0.5;
    }

    #dropFileForm #fileLable{
        background-color:white;
      display:block;
      padding:16px;
      position:relative;
      cursor:pointer;
      width:100%;
      float: left;
    }
 #dropFileForm #fileList{
      border: solid 0.5px black;
      border-radius: 8px;
      display:block;
      padding:16px;
      position:relative;
      width:50%;
      float:right;
      font-family: 'Raleway', sans-serif;
 }
    #dropFileForm #fileInput{
      display:none;
    }

    #dropFileForm #fileLable:after,
    #dropFileForm #fileLable:before{
      position:absolute;
      content:"";
      top:0;
      bottom:0;
      left:0;
      right:0;
      background-color: #fff;
      z-index:-2;
      border-radius:8px 8px 0 0;
    }

    #dropFileForm #fileLable:before{
      z-index:-1;
      background:repeating-linear-gradient(45deg, transparent, transparent 5%, black 5%, black 10%);
      opacity:0;
      transition:.5s;
    }

    #dropFileForm.fileHover #fileLable:before{
      opacity:.25;
    }

    #dropFileForm .uploadButton{
      border:0;
      outline:0;
      width:100%;
      padding:8px;
      background-color:white;
      color:black;
      cursor:pointer;
    }

    #dropFileForm.flieHover{
      box-shadow:0 0 16px #43ff19;
    }
</style>
<center>
    <div>
        <form id="dropFileForm" , enctype="multipart/form-data" , action="{% url 'file_upload' path=path %}" method="post">
            {% csrf_token %}
            <input type="file" name="file" id="fileInput" multiple onchange="addFiles(event);">
            <label for="fileInput" id="fileLable" ondragover="overrideDefault(event);fileHover();" ondragenter="overrideDefault(event);fileHover();" ondragleave="overrideDefault(event);fileHoverEnd();" ondrop="overrideDefault(event);fileHoverEnd();addFiles(event);">
                <i class="fa fa-download fa-5x"></i>
                <br>
                <span id="fileLableText">
                    Choose a file or drag it here
                </span>
                <br>
                <span id="uploadStatus"></span>
            </label>
            <input type="submit" value="Upload" class="uploadButton">
        </form>
        {# <form method="post" , enctype="multipart/form-data" , action="{% url 'file_upload' path=path %}">#}
            {# {% csrf_token %}#}
            {# <div style="border: solid; display:inline-block; padding: 5px; border-color: skyblue">#}
                {# <input type="file" name="file">#}
                {# </div>#}
            {# <button style="margin-top: 10px;" class="ui primary button" type="submit"><i class="upload icon"></i>업로드</button>#}
            {# </form>#}
    </div>
</center>
<div style="display:block; background: #404040; color:#ccc; overflow:hidden; transition: all .5s ease; width:27%; padding: 1rem; border-right:0.5rem solid #efefef; max-height: 50%;float:left;">
    <button class="ui primary button" style="display: block; width:200px;padding:1rem;border-right:0.5rem solid #efefef" onclick="make_folder()"><i class="plus icon"></i>폴더 만들기</button>
    <!--
    <input type="checkbox" name="sort" value="sorted"> 이름 순 정렬 <br>
    <button class="text-center"><a class= "btn btn-primary btn-lg" href="{#% url 'file_list' path=''%#}" role ="button">이름순 정렬</a></button>
    -->
    <div style="display: none;" id="dir_make">
        <input type="text" id="dir_name">
        <button class="ui primary button" onclick="make_directory()">만들기</button>
    </div>
    <br>
    <th class="user_file_view" style="color:white;">폴더 목록</th><br>
    <tbody style="display:block;">
        {% if path != "" %}
        <td>
            <a onclick="go_parent()" style="cursor: pointer;"><i class="fa fa-folder-open-o" aria-hidden="true"></i> 상위폴더</a><br>
        </td>
        {% endif %}
        <tr>
            {% for file in files %}
            <td class="collapsing">
                {% if file.type == "directory" %}
                {% if file.name != 'waste' %}
                {% with new_path=path|add:file.name|add:'/' %}
                <a style="color:white;" href="{% url 'user_file' path=new_path %}" style="border:1px solid black"><i class="fa fa-folder" aria-hidden="true"></i> {{file.name}}<br></a>
                {% endwith %}
                {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</div>
<table style="display:block; background: #404040; color:#ccc; overflow:hidden; transition: all .5s ease; width:73%; padding: 1rem; max-height: 50%;float:right;" class="ui celled striped collapsing table" id="file_table">

    <thead>
        <tr>
            <th class="center aligned" style="font-weight:100;font-family: 'Jeju Gothic', sans-serif;">파일이름<button onclick="gwanshic(tbody01, 0)" style="opacity:0.1; "><i class="fa fa-arrows-v" aria-hidden="true"></i></button></th>
            <th class="center aligned" style="font-weight:100;font-family: 'Jeju Gothic', sans-serif;color:#404040;">크기더미</th>
            <th class="collapsing"style="font-weight:100;font-family: 'Jeju Gothic', sans-serif;">크기<button onclick="gwanshic(tbody01, 1)" style="opacity:0.1; "><i class="fa fa-arrows-v" aria-hidden="true"></i></button></th>
             <th class="center aligned"style="font-weight:100;font-family: 'Jeju Gothic', sans-serif;float:right;">날짜<button onclick="gwanshic(tbody01, 3)" style="opacity:0.1; "><i class="fa fa-arrows-v" aria-hidden="true"></i></button></th>
            <th class="collapsing"style="font-weight:100;font-family: 'Jeju Gothic', sans-serif;">삭제</th>
            <th class="collapsing"style="font-weight:100;font-family: 'Jeju Gothic', sans-serif;">다운로드</th>
            <th class="center aligned"style="font-weight:100;font-family: 'Jeju Gothic', sans-serif;">공유</th>

        </tr>
    </thead>
    <tbody id="tbody01">
        {% for file in files %}
        <tr>
            {% if file.type != "directory" %}
            <td class="collapsing">
                {% with new_path=path|add:file.name %}
                <a style="color: white" href="{% url 'file_view' path=new_path %}"><i class="file outline icon"></i> {{file.name}} </a><br>
                {% endwith %}
            </td>
              <td class="collapsing">
                <a style="color:#404040 ;" ><i class="file outline icon"></i>{{file.volume}} </a>
            </td>
             <td class="collapsing">
                <a style="color: white" ><i class="file outline icon"></i>{{file.volume|volume_filter}} </a>
            </td>
             <td class="collapsing">
                <a style="color: white" ><i class="file outline icon"></i> {{file.time}} </a>
            </td>
            <td class="center aligned collapsing">
                {% with new_path=path|add:file.name bin_path='waste/'|add:file.name %}
                <a style="color: white; cursor:pointer; " href="{% url 'throw' old_path=new_path new_path=bin_path %}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                {% endwith %}
            </td>
            <td class="center aligned collapsing">
                {% with new_path=path|add:file.name %}
                <a style="color: white" href="{% url 'file_download' path=new_path %}"><i class="fa fa-download" aria-hidden="true" style="color:white; float:left;position:relative;left:50%;"></i></a>
                {% endwith %}
            </td>
            <td class="collapsing">
                {% with new_path=path|add:file.name %}
                <a style="color: black" href="{% url 'file_share' path=new_path %}"><i class="fa fa-share-alt-square" aria-hidden="true" style="color:white; float:left;position:relative;left:50%;"></i></a>
                {% endwith %}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if messages %}
{% for message in messages %}
<div id="some_flag_1" title="Some Flag_1">
    <script type="text/javascript">
    window.prompt("Copy to clipboard: Ctrl+C", "{% autoescape off %}{{ message }}{% endautoescape %}");
    </script>
</div>
{% endfor %}
{% endif %}
<script type="text/javascript">
var dropFileForm = document.getElementById("dropFileForm");
var droppedFiles = [];
var uploadStatus = document.getElementById("uploadStatus");
var fileLableText = document.getElementById("fileLableText");
var fileInput = document.getElementById("fileInput")
var fileListText = document.getElementById("fileListText");

function overrideDefault(event) {
    event.preventDefault();
    event.stopPropagation();
}

function fileHover() {
    dropFileForm.classList.add("fileHover");
}

function fileHoverEnd() {
    dropFileForm.classList.remove("fileHover");
}

function addFiles(event) {
    droppedFiles = event.target.files || event.dataTransfer.files
    showFiles(droppedFiles);
}



function showFiles(files) {
    if (files.length > 1) {
        fileLableText.innerText = files.length + "files selected";

    } else {
        fileLableText.innerText = files[0].name;

    }
}


function uploadFiles(event) {
    event.preventDefault();
    changeStatus("Uploading...");

    var formData = new FormData();

    for (var i = 0, file; file = droppedFiles[i]; i++) {
        formData.append(fileInput.name, file, file.name)
    }

    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function(data) {
        //서버 응답 및 상태 변경처리 부분
        //changeStatus(text)함수를 통해 업로드 프로세스
    }
    xhr.open(dropFileForm.method, dropFileForm.action, true);
    xhr.send(formData);
}

function changeStatus(text) {
    uploadStatus.innerText = text;
}

//
function uploadChange(file) {
    var el = file.parentNode.parentNode.getElementsByTagName("*");
    for (var i = 0; i < el.length; i++) {
        var node = el[i];
        if (node.className == "file-text") {
            node.innerHTML = file.value;
            break;
        }
    }
}

function make_folder() {
    document.getElementById("dir_make").style.display = "inline-block";
}

function make_directory() {

    dir = document.getElementById("dir_name").value;
    console.log(dir)
    var dir_path = "{{ path }}";
    new_path = dir_path + dir + '/';
    location.href = "{% url 'create_folder' path='' %}" + new_path;
}

function go_parent() {
    var dir_path = "{{ path }}";
    var dir_arr = dir_path.split('/');
    dir_arr.pop();
    dir_arr.pop();
    var new_path = dir_arr.join('/');
    location.href = "{% url 'user_file' path='' %}" + new_path;
}

function copy(old) {
    var copy_path = document.getElementById(old).value;
    location.href = "/copy/" + old + "&" + copy_path;
}

function move(old) {
    var move_path = document.getElementById(old).value;
    location.href = "/move/" + old + "&" + move_path;
}

var index;  // cell index

var toggleBool; // sorting asc, desc

function gwanshic(tbody, index){

 this.index = index;

 if(toggleBool){

  toggleBool = false;

 }else{

  toggleBool = true;

 }



 var datas= new Array();

 var tbodyLength = tbody.rows.length;

 for(var i=0; i<tbodyLength; i++){

  datas[i] = tbody.rows[i];

 }



 // sort by cell[index]

 datas.sort(compareCells);

 for(var i=0; i<tbody.rows.length; i++){

  // rearrange table rows by sorted rows

  tbody.appendChild(datas[i]);

 }

}



function compareCells(a,b) {

 var aVal = a.cells[index].innerText;

 var bVal = b.cells[index].innerText;



 aVal = aVal.replace(/\,/g, '');

 bVal = bVal.replace(/\,/g, '');



  if(toggleBool){

  var temp = aVal;

  aVal = bVal;

  bVal = temp;

 }



 if(aVal.match(/^[0-9]+$/) && bVal.match(/^[0-9]+$/)){

  return parseFloat(aVal) - parseFloat(bVal);

 }

 else{

    if (aVal < bVal){

     return -1;

    }else if (aVal > bVal){

       return 1;

    }else{

     return 0;

    }

 }

}
</script>


{% endblock %}